<template>
  <div class="page-region-date-event">
    <EventDetails :event="event" :dateIsInCurrentWeek="dateIsInCurrentWeek" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import EventDetails from '~/components/EventDetails'

if (process.client) {
  require('web-share-shim/web-share-shim.bundle.min.js')
}

export default {
  name: 'region-date-event',
  head() {
    return {
      title: this.event.description,
    }
  },
  components: {
    EventDetails,
  },
  async asyncData({ payload, store, params, error, redirect }) {
    if (payload) {
      await store.dispatch('events/setEventById', payload.event)
    }
    if (store.getters['regions/isValidRegionSlug'](params.region)) {
      await store.dispatch('regions/setSelectedRegionBySlug', params.region)
    } else {
      error({ statusCode: 404, message: `Invalid region: '${params.region}'` })
      return
    }

    let event
    try {
      event = await store.dispatch('events/getEventById', params.event)
    } catch (e) {
      error({ statusCode: 404, message: `Cannot find event: ${e}` })
      return
    }

    let paramRegion = params.region
    let paramDate = params.date
    let eventRegion = event.venue.region.slug
    let eventDate = event.eventDay
    if (paramDate !== eventDate || paramRegion !== eventRegion) {
      let language = store.getters['i18n/getLanguage']
      redirect({
        name: 'region-date-event',
        params: {
          lang: language,
          region: eventRegion,
          date: eventDate,
          event: event.id,
        },
      })
    }

    const dateIsInCurrentWeek = store.getters['datetime/dateIsInCurrentWeek'](params.date)

    return { event, dateIsInCurrentWeek }
  },
  computed: {
    ...mapGetters({
      language: 'i18n/getLanguage',
    }),
  },
}
</script>

<style lang="scss">
@import '~assets/styles/variables';

.page-region-date-event {
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  left: 0;
  overflow: hidden; // Needed for FF
  position: fixed;
  top: $headerHeight;
  width: 100%;
}
</style>
