<template>
  <div class="page-region-date">
    <template v-if="!currentWeek">
      <EventListDate :date="$route.params.date" />
    </template>
    <template v-else>
      <EventListWeek :date="$route.params.date" />
    </template>
    <Snackbar />
  </div>
</template>

<script>
import { DateTime } from 'luxon'
import EventListDate from '~/components/EventListDate'
import EventListWeek from '~/components/EventListWeek'
import Snackbar from '~/components/Snackbar'
import { dateUrl, formatWeekday } from 'assets/dateHelpers'
import { mapGetters } from 'vuex'
import { isValidDateParam } from 'assets/dateHelpers'

export default {
  name: 'region-date',
  components: {
    EventListDate,
    EventListWeek,
    Snackbar,
  },
  key() {
    // Control when the page should be re-rendered: https://github.com/nuxt/nuxt.js/issues/4663
    let pageData = this.data()
    if (pageData.currentWeek) {
      return `date-week`
    } else {
      return `date-${pageData.date}`
    }
  },
  head() {
    const params = this.$route.params
    let parsedDate = DateTime.fromISO(params.date)
    parsedDate = parsedDate.setLocale(params.lang)

    return {
      title: formatWeekday(parsedDate),
    }
  },
  async asyncData({ payload, store, params, error }) {
    if (payload) {
      await store.dispatch('events/setEventsByDates', payload.eventDates)
    }
    if (store.getters['regions/isValidRegionSlug'](params.region)) {
      await store.dispatch('regions/setSelectedRegionBySlug', params.region)
    } else {
      error({ statusCode: 404, message: `Invalid region: '${params.region}'` })
      return
    }
    await store.dispatch('events/ensureEventsByWeek')

    let date = params.date
    if (!isValidDateParam(date)) {
      error({ statusCode: 404, message: `Invalid date: '${date}'` })
      return
    }
    let currentWeek = store.getters['datetime/dateIsInCurrentWeek'](date)
    if (!currentWeek) {
      await store.dispatch('events/ensureEventsByDates', {
        datesEnsure: [date],
      })
    }

    return { date, currentWeek }
  },
  created() {
    if (process.client) {
      this.$store.dispatch('loadDataIfOld')
    }
  },
  async beforeRouteUpdate(to, from, next) {
    let date = to.params.date
    let currentWeek = this.$store.getters['datetime/dateIsInCurrentWeek'](date)
    if (currentWeek) {
      this.$root.$emit('swiper.setSlide', { date, noAnimation: true })
    }
    next()
  },
  computed: {
    ...mapGetters({
      todayDate: 'datetime/todayDate',
    }),
  },
  watch: {
    todayDate(val) {
      // Load new events when date changes
      this.$store.dispatch('events/ensureEventsByWeek')
    },
  },
}
</script>

<style lang="scss">
.page-region-date {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
</style>
