<template>
  <div class="EventListDateHint">
    <div class="container">
      <div class="EventListDateHint-inner">
        <Icon icon="megaphone-1" />
        <div class="EventListDateHint-inner-message">{{ $t('EventListDateHint.dateOutsideCurrentWeek') }}</div>
        <Button :to="localePath('/')" class="button-reset" color="transparent">{{ $t('button.home') }}</Button>
      </div>
    </div>
  </div>
</template>

<script>
import Button from '~/components/Button'
import Icon from '~/components/Icon'

export default {
  components: {
    Button,
    Icon,
  },
}
</script>

<style lang="scss">
@import '../assets/styles/variables.scss';
@import '../assets/styles/mixins.scss';

.EventListDateHint {
  background: var(--color-action-bar-bg);
  bottom: 0;
  box-shadow: 0 -4px 12px hsla(0, 0%, var(--color-accent-lightness), 0.1);
  color: var(--color-action-bar-fg);
  font-size: $fontSizeSmall;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 40;

  @include small {
    font-size: $fontSize;
  }

  .EventListDateHint-inner {
    align-items: center;
    display: flex;
    height: $footerHeight;
  }

  .Button {
    color: var(--color-theme);
  }

  .Icon {
    flex-shrink: 0;
    font-size: 1.4em;
    margin-right: 0.8em;
  }

  .EventListDateHint-inner-message {
    flex-grow: 1;
  }
}
</style>
