<template>
  <div class="FormField" :class="{ 'FormField--error': errors.has(name) }">
    <label class="FormField-label" :class="{ 'FormField-label--required': isRequired }" :for="name">{{ label }}</label>
    <div class="FormField-wrapper">
      <slot>
        <input
          :autocomplete="autocomplete"
          class="FormField-wrapper-input"
          :type="type"
          :inputmode="inputmode"
          :id="name"
          :name="name"
          :maxlength="maxlength"
          v-model="inputVal"
          v-validate="validate"
          data-vv-validate-on="change|blur"
          :data-vv-as="validateLabel || label"
          :placeholder="placeholder"
          v-mask="vmask"
        />
      </slot>
    </div>
    <span class="FormField-error color-error" v-show="errors.has(name)">{{ errors.first(name) }}</span>
  </div>
</template>

<script>
export default {
  inject: ['$validator'],
  props: {
    autocomplete: {
      type: String,
    },
    inputmode: {
      type: String,
      default: '',
    },
    isRequired: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: 'Label',
    },
    maxlength: {
      type: String,
      default: '',
    },
    name: {
      type: String,
      required: true,
    },
    placeholder: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: 'text',
    },
    validate: {
      type: Object | String,
      default: '',
    },
    validateLabel: {
      type: String,
      default: '',
    },
    value: {
      type: String | Number,
      default: '',
    },
    vmask: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      inputVal: this.value,
    }
  },
  beforeMount() {
    this.$validator.locale = this.$i18n.locale // @todo: Find better way
  },
  watch: {
    inputVal(val) {
      this.$emit('input', val)
    },
  },
}
</script>

<style lang="scss">
@import '../assets/styles/variables';

.FormField {
  margin-bottom: 1.2em;

  .FormField-label {
    display: inline-block;
    font-size: $fontSizeSmall;
    margin-bottom: 0.2rem;
    margin-left: 0.2rem;
    opacity: 0.8;

    &.FormField-label--required {
      font-weight: $fontWeightBold;

      &::after {
        content: '*';
        font-size: 0.9em;
        margin-left: 0.2em;
        opacity: 0.7;
      }
    }
  }

  .FormField-wrapper {
    display: flex;
    position: relative;
  }

  .FormField-error {
    font-size: $fontSizeSmall;
  }

  &.FormField--error {
    select,
    textarea,
    input {
      animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      border-color: var(--color-error);
    }
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
</style>
