<template>
  <vue-autosuggest
    :suggestions="filteredOptions"
    @selected="selectHandler"
    @input="onInputChange"
    :input-props="{ ...inputProps, placeholder: placeholder }"
    component-attr-id-autosuggest="InputAutosuggest"
    :getSuggestionValue="getSuggestionValue"
  >
    <template slot-scope="{ suggestion }">
      <span>{{ suggestion.item.name }}</span>
    </template>
  </vue-autosuggest>
</template>

<script>
import { VueAutosuggest } from 'vue-autosuggest'
import { sortWith, ascend, pathOr, pipe } from 'ramda'

export default {
  components: {
    VueAutosuggest,
  },
  data() {
    return {
      filteredOptions: [],
      inputVal: '',
      inputProps: {
        id: 'InputAutosuggest',
        autocomplete: 'off',
      },
    }
  },
  props: {
    placeholder: {
      type: String,
    },
    value: {
      type: String,
    },
    suggestions: {
      type: Array,
      default: [],
    },
  },
  methods: {
    onInputChange(text, oldText) {
      this.inputVal = text
      if (text === null) {
        return
      }

      this.filteredOptions = [
        {
          data: pipe(
            (suggestions) =>
              suggestions.filter((option) => {
                return option.name.toLowerCase().indexOf(text.toLowerCase()) > -1
              }),
            sortWith([ascend((option) => option.name.toLowerCase())]),
          )(this.suggestions),
        },
      ]
    },
    selectHandler(selected) {
      if (selected && selected.item && selected.item.name) {
        this.inputVal = selected.item.name
      }
    },
    getSuggestionValue(suggestion) {
      return suggestion.item.name
    },
  },
  watch: {
    inputVal(newVal) {
      this.$emit('input', newVal)
      this.$emit('change', newVal)
    },
  },
}
</script>
<style lang="scss">
@import './assets/styles/variables.scss';

#InputAutosuggest {
  display: block;
  width: 100%;
}

.autosuggest__input--open {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.autosuggest__results-container {
  position: relative;
  width: 100%;
}

.autosuggest__results {
  background: var(--color-bg);
  border: 1px solid var(--color-theme);
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  max-height: 300px;
  overflow-y: scroll;
  position: absolute;
  top: 100%;
  transform: translate3d(0, -1px, 0);
  width: 100%;
  z-index: 2;

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  .autosuggest__results-item {
    cursor: pointer;
    padding: 15px;

    &:active,
    &:hover,
    &:focus,
    &.autosuggest__results_item--highlighted {
      background-color: var(--color-theme);
      color: var(--color-theme-fg);
    }
  }
}
</style>
