<template>
  <svg class="Logo night-mode" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
    <title>logo-icon-night</title>
    <g id="logo-icon-night">
      <path
        class="logo-eyes"
        d="M70.78,69.45a19.37,19.37,0,0,1-10.7-3.21,11.41,11.41,0,0,0,.29-2.51c0-7.07-3.5-11.81-9-12.45,0-.43,0-.87,0-1.31A19.49,19.49,0,1,1,70.78,69.45Z"
      ></path>
      <path
        class="logo-eyes"
        d="M29.22,69.45A19.49,19.49,0,1,1,48.71,50c0,.44,0,.88,0,1.31-5.53.63-9,5.38-9,12.45a11.41,11.41,0,0,0,.29,2.51A19.37,19.37,0,0,1,29.22,69.45Z"
      ></path>
      <g id="eyes">
        <circle id="eye-left" class="logo-color" cx="29.22" cy="49.96" r="7.91"></circle>
        <circle id="eye-right" class="logo-color" cx="70.78" cy="49.96" r="7.91"></circle>
      </g>
      <g id="eyelids">
        <polygon
          id="eyelid-right"
          class="logo-color"
          points="82 70.87 57.98 70.87 57.98 57.3 90.75 57.3 82 70.87"
        ></polygon>
        <polygon
          id="eyelid-left"
          class="logo-color"
          points="42.02 70.87 18.9 70.87 9.25 57.3 42.02 57.3 42.02 70.87"
        ></polygon>
      </g>
      <g id="eyebrows">
        <polygon id="eyebrow-left" class="logo-color" points="5 26 5 41.6 50 46.96 50 26 5 26"></polygon>
        <polygon id="eyebrow-right" class="logo-color" points="50 26 50 46.96 95 41.6 95 26 50 26"></polygon>
      </g>
      <path
        class="logo-nose"
        d="M50,75.85c-2-1.3-7.84-5.68-7.83-12.13,0-10.39,7.86-10,7.86-10s7.81-.39,7.81,10C57.84,70.17,52,74.56,50,75.85Z"
      ></path>
    </g>
  </svg>
</template>

<style lang="scss">
@import '../assets/styles/variables';

.Logo {
  height: $headerHeight;
}

.night-mode,
.late-night-mode {
  .logo-icon {
    display: none;

    &.night {
      display: block;
      width: 50px;
    }
  }

  #logo-icon-night {
    .logo-eyes {
      fill: white;
    }

    .logo-nose {
      fill: var(--color-theme);
    }

    .logo-color {
      fill: var(--color-header-bg);
    }

    #eyebrow-left,
    #eyebrow-right {
      transform: translateY(-30%);
      transform-box: fill-box;
      transform-origin: center;
    }

    #eyelid-left,
    #eyelid-right {
      transform: translateY(100%);
      transform-box: fill-box;
    }
  }
}

.night-mode {
  #logo-icon-night {
    #eyes {
      animation: eyes 60s linear 2s infinite;
      transform-box: fill-box;
    }

    #eyebrow-left {
      animation: eyebrow-left 60s linear 2s infinite;
      transform-box: fill-box;
    }

    #eyebrow-right {
      animation: eyebrow-right 60s linear 2s infinite;
      transform-box: fill-box;
    }

    #eyelid-left,
    #eyelid-right {
      animation: eyelids 60s linear 2s infinite;
    }
  }
}

.late-night-mode {
  #logo-icon-night {
    #eyebrow-left {
      transform: translateY(0) scale(1, 1.1);
    }

    #eye-right {
      transform: translate(36%, 30%);
    }
  }
}
</style>
