<template>
  <div class="Regions">
    <ul class="Regions-list">
      <li class="Regions-list-item ratio-keeper" v-for="region in regions" :key="region.id">
        <nuxt-link :to="localePath(`/${region.slug}`)" :class="`region-select region-select--${region.slug}`">
          <div class="name">
            {{ region.name }}
          </div>
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapState({
      regions: (state) => state.regions.regions,
    }),
  },
}
</script>

<style lang="scss">
@import '../assets/styles/variables';
@import '../assets/styles/mixins';

.Regions {
  .Regions-list {
    list-style-type: none;
    margin: 0 0 0.5em;
    padding: 0;

    @include small {
      display: grid;
      grid-column-gap: 1em;
      grid-template-columns: 1fr 1fr;
    }
  }

  .Regions-list-item {
    color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 50%;

    @include tall {
      padding-bottom: 66%;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;

      @include small {
        margin-bottom: 0;
      }
    }
  }

  .region-select {
    align-items: center;
    background-size: cover;
    color: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 10vw;
    font-weight: $fontWeightBold;
    justify-content: center;
    padding: 1rem 50px;
    position: absolute !important; // For v-ripple
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);

    @include small {
      font-size: 2.8em;
    }

    @include medium {
      font-size: 3em;
    }

    &::before {
      background-color: rgba(0, 0, 0, 0.2);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .name {
      line-height: 1;
      position: relative;
    }

    &.region-select--basel {
      background-image: url(~assets/images/basel.jpg);
    }
    &.region-select--tsri {
      background-image: url(~assets/images/tsri.jpg);
    }
  }
}
</style>
