<template>
  <div class="SelectInvisible">
    <label class="SelectInvisible-label" :for="id">{{ label }}</label>
    <div class="SelectInvisible-input SelectInvisible-input--placeholder">
      <Icon :icon="icon" />
      <span v-if="showLabel">{{ label }}:&nbsp;</span>
      {{ options[inputVal] }}
    </div>
    <select :id="id" class="SelectInvisible-input SelectInvisible-input--original select-reset" v-model="inputVal">
      <optgroup :label="label">
        <option v-for="(item, key) in options" :key="key" :value="key">{{ item }}</option>
      </optgroup>
    </select>
  </div>
</template>

<script>
import Icon from '~/components/Icon'

export default {
  components: {
    Icon,
  },
  props: {
    id: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      default: 'Please select',
    },
    options: {
      type: Object | Array,
      required: true,
    },
    showLabel: {
      type: Boolean,
    },
    value: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      inputVal: this.value,
    }
  },
  watch: {
    inputVal(val) {
      this.$emit('input', val)
    },
    value(val) {
      this.inputVal = val
    },
  },
}
</script>

<style lang="scss">
.SelectInvisible {
  position: relative;

  .SelectInvisible-label {
    opacity: 0;
    position: absolute;
  }

  .SelectInvisible-input {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
  }

  .SelectInvisible-input--original {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .SelectInvisible-input--placeholder {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    text-align: right;

    .Icon {
      margin-right: 0.5em;
    }
  }
}
</style>
