<template>
  <div class="WeekdaysMenu">
    <template>
      <a
        :href="
          $router.resolve({
            name: 'region-date',
            params: { lang: $route.params.lang, region: selectedRegionSlug, date: dateUrl(date) },
          }).href
        "
        ref="weekdaysMenuItem"
        v-for="(date, key) in weekDateTimes"
        :key="key"
        class="WeekdaysMenu-item"
        :data-index="key"
        v-on:click="onWeekdayClick"
        v-touch:start="onWeekdayTouch"
        v-touch:moving="onWeekdayTouch"
        >{{ formatWeekday(date) }}
      </a>
    </template>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import { dateUrl, formatWeekday } from 'assets/dateHelpers'
import { shouldHandleClick } from '../assets/shouldHandleClick'

export default {
  computed: {
    ...mapState({
      swiperIndex: (state) => state.swiperIndex,
    }),
    ...mapGetters({
      weekDateTimes: 'datetime/weekDateTimes',
      selectedRegionSlug: 'regions/selectedRegionSlug',
    }),
  },
  mounted() {
    this.updateActiveClass(this.swiperIndex)
  },
  methods: {
    dateUrl: dateUrl,
    formatWeekday: formatWeekday,
    onWeekdayTouch(event) {
      let touches = event.touches
      if (!touches) {
        return
      }
      let touch = event.touches.item(0)
      if (!touch) {
        return
      }
      let el = document.elementFromPoint(touch.clientX, touch.clientY)
      if (!el) {
        return
      }
      let index = el.getAttribute('data-index')
      if (!index) {
        return
      }
      this.$root.$emit('swiper.setSlide', { index })
    },
    onWeekdayClick(e) {
      if (!shouldHandleClick(e)) {
        return
      }
      let el = e.target
      if (!el) {
        return
      }
      let index = el.getAttribute('data-index')
      if (!index) {
        return
      }
      this.$root.$emit('swiper.setSlide', { index })
    },
    updateActiveClass(swiperIndex) {
      // Update 'nuxt-link-active' manually, because it's faster than Vue's internal rendering mechanism.
      let weekdaysMenuItems = this.$refs.weekdaysMenuItem
      if (!weekdaysMenuItems) {
        return
      }
      weekdaysMenuItems.forEach((weekdayMenuItem, i) => {
        if (i === swiperIndex) {
          weekdayMenuItem.classList.add('nuxt-link-active')
        } else {
          weekdayMenuItem.classList.remove('nuxt-link-active')
        }
      })
    },
  },
  watch: {
    swiperIndex(val) {
      this.updateActiveClass(val)
    },
  },
}
</script>

<style lang="scss">
@import '../assets/styles/variables';
@import '../assets/styles/mixins';

.WeekdaysMenu {
  background-color: var(--color-action-bar-bg);
  bottom: 0;
  box-shadow: 0 -4px 12px hsla(0, 0%, var(--color-accent-lightness), 0.1);
  color: var(--color-action-bar-fg);
  display: flex;
  height: $footerHeight;
  left: 0;
  position: fixed;
  transform: translate3d(0, 0, 0);
  user-select: none;
  width: 100%;

  @include medium {
    background-color: transparent;
    bottom: auto;
    box-shadow: none;
    color: var(--color-theme-fg);
    height: $headerHeight;
    left: var(--weekday-menu-left);
    top: 0;
    width: 350px;
    z-index: 31;
  }

  .WeekdaysMenu-item {
    align-items: center;
    color: inherit;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
    outline: 0;
    padding: 0.4em;
    position: relative;
    text-align: center;
    text-decoration: none;

    &.nuxt-link-active {
      background: var(--color-weekdays-active-bg);
      color: var(--color-weekdays-active-fg);
    }

    &:active:not(.nuxt-link-active) {
      // Remove the background visible in Firefox/Android on :active
      background: transparent;
    }
  }
}
</style>
