@keyframes eyes {
  15% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translate(0, 0);
  }

  19% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
    transform: translate(-8%, 0);
  }

  22% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
    transform: translate(5%, 6%);
  }

  23% {
    transform: translate(0, 0);
  }

  30% {
    transform: translate(0, 0);
  }

  32% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translate(0, 0);
  }

  35% {
    animation-timing-function: ease-out;
    transform: translateX(10%);
  }

  38% {
    animation-timing-function: ease-out;
    transform: translateX(-11%);
  }

  39% {
    transform: translate(0, 0);
  }
}

@keyframes eyebrow-left {
  0% {
    animation-timing-function: ease-in;
    transform: translateY(-30%);
  }

  0.2% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  0.4% {
    transform: translateY(-30%);
  }

  10% {
    animation-timing-function: ease-in;
    transform: translateY(-30%);
  }

  10.2% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  10.4% {
    transform: translateY(-30%);
  }

  28% {
    animation-timing-function: ease-in;
    transform: translateY(-30%);
  }

  30% {
    transform: translateY(10%);
  }

  41% {
    animation-timing-function: ease-out;
    transform: translateY(10%);
  }

  41.5% {
    transform: translateY(-30%);
  }

  50% {
    animation-timing-function: ease-in;
    transform: translateY(-30%);
  }

  50.2% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  50.4% {
    transform: translateY(-30%);
  }

  60% {
    animation-timing-function: ease-in;
    transform: translateY(-30%);
  }

  60.2% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  60.4% {
    transform: translateY(-30%);
  }
}

@keyframes eyebrow-right {
  0% {
    animation-timing-function: ease-in;
    transform: translateY(-30%);
  }

  0.2% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  0.4% {
    transform: translateY(-30%);
  }

  10% {
    animation-timing-function: ease-in;
    transform: translateY(-30%);
  }

  10.2% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  10.4% {
    transform: translateY(-30%);
  }

  28% {
    animation-timing-function: ease-in;
    transform: translateY(-30%);
  }

  30% {
    transform: translateY(10%);
  }

  41% {
    animation-timing-function: ease-out;
    transform: translateY(10%);
  }

  41.5% {
    transform: translateY(-30%);
  }

  50% {
    animation-timing-function: ease-in;
    transform: translateY(-30%);
  }

  50.2% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  50.4% {
    transform: translateY(-30%);
  }

  60% {
    animation-timing-function: ease-in;
    transform: translateY(-30%);
  }

  60.2% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  60.4% {
    transform: translateY(-30%);
  }

  70% {
    animation-timing-function: ease-in;
    transform: translateY(-30%);
  }

  70.2% {
    transform: translateY(10%);
  }

  76% {
    animation-timing-function: ease-out;
    transform: translateY(10%);
  }

  76.2% {
    transform: translateY(-30%);
  }
}

@keyframes eyelids {
  0% {
    animation-timing-function: ease-in;
    transform: translateY(100%);
  }

  0.2% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  0.4% {
    transform: translateY(100%);
  }

  10% {
    animation-timing-function: ease-in;
    transform: translateY(100%);
  }

  10.2% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  10.4% {
    transform: translateY(100%);
  }

  28% {
    animation-timing-function: ease-in;
    transform: translateY(100%);
  }

  30% {
    transform: translateY(40%);
  }

  41% {
    animation-timing-function: ease-out;
    transform: translateY(40%);
  }

  41.5% {
    transform: translateY(100%);
  }

  50% {
    animation-timing-function: ease-in;
    transform: translateY(100%);
  }

  50.2% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  50.4% {
    transform: translateY(100%);
  }

  60% {
    animation-timing-function: ease-in;
    transform: translateY(100%);
  }

  60.2% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  60.4% {
    transform: translateY(100%);
  }
}
