<template>
  <div class="page-error container">
    <section class="section">
      <h1 v-if="error.statusCode === 404">{{ $t('page.error') }}</h1>
      <h1 v-else>{{ $t('error.title') }} {{ error.statusCode }}</h1>
      <div class="page-error-content">
        <OwlUnhappy />
        <p>
          <code class="color-error">
            {{ error.message }}
          </code>
        </p>
        <Button :to="localePath('/')">
          {{ $t('button.home') }}
        </Button>
      </div>
    </section>
  </div>
</template>

<script>
import Button from '~/components/Button'
import OwlUnhappy from '~/components/OwlUnhappy'

export default {
  props: ['error'],
  components: {
    Button,
    OwlUnhappy,
  },
}
</script>

<style lang="scss">
.page-error {
  .OwlUnhappy {
    width: 160px;
  }

  .page-error-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
</style>
